// Import page-specific CSS files here.
@import "home";

.creolite_page{
  margin:1px;
  border:solid black 1px;
  .box-creolite-f{
    padding-top:5px;
    display:flex;
    flex-direction:row-reverse;
    justify-content:flex-end;
    .box-creolite-s{
      display:flex;
      flex-direction:column;
      .creolite{
        display:flex;
        border:solid blue 1px;

        #headband{
          margin:5px;
          border:solid purple 1px;
        }

        #information{
          display:flex;
          padding-left:45px;
          margin:5px;
          border:solid red 1px;
          justify-content:space-between;
          #place{
            border:solid black 1px;
            height:200px;
            width:150px;
          }
          #map{
            height:200px;
            width:200px;
            border:solid green 1px;
          }
        }
      }
    }
  }
}
