<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://funsailing.ro/site/wp-content/foto/2015/04/Caraibe-Tobago-Cays4.jpg);">
  <div class="container">
    <h1>Bienvenue sur le site de l'<strong>Association Caraïbe</strong> de <strong>Roanne</strong></h1>
    <p>L'Association Caraïbe a pour but de promouvoir la culture creole!</p>

    <%= link_to "Visiter", creolite_index_path, :class =>"btn btn-primary" %>
  </div>
</div>
