<div class="box-nav-horizontale">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">L’association</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Les adhérents</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Actions</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Contacts</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Mentions légales</a>
    </li>
  </ul>
</div>
