<div class="box-nav-verticale">
  <h3>Les iles des adhérents</h3>
  <div class="block_iles">
    <ul class="iles">
      <li class="ile">Martinique</li>
      <li class="ile">Guadloupe</li>
      <li class="ile">Trinidade</li>
      <li class="ile">Réunion</li>
    </ul>
  </div>
</div>
