.creolite_page{
  margin:1px;
  border:solid black 1px;
  .box-creolite-f{
    padding-top:5px;
    display:flex;
    flex-direction:row-reverse;
    justify-content:flex-end;
    #map{
    border-radius:3px;
    margin-left:20px;
    height:300px;
    width:25%;
    // border:solid green 1px;
    }
    .box-creolite-s{
      display:flex;
      flex-direction:column;
      padding-left:20px;
      .creolite{
        display:flex;
        flex-direction:column;
        color:white;
        border-radius:2px;
        // border:solid blue 1px;
        .box-creolite{
          justify-content:space-around;
          display:flex;
          background-repeat:no-repeat;
          margin-bottom:5px;
          // border:solid 1px green;
          #headband{
            border-radius:3px;
            background:rgba(0,0,0,0.3);
            margin:5px;
            // border:solid purple 1px;
          }
          #information{
            display:flex;
            flex-wrap:wrap;
            margin:5px;
            justify-content:space-between;
            // border:solid red 1px;
            #place{
              border-radius:3px;
              background:rgba(0,0,0,0.3);
              height:200px;
              width:150px;
              padding:5px;
              margin-left:5px;
              // border:solid black 1px;
            }
          }
        }
      }
    }
  }
}
